.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-container h1 {
    color: white;
  }
  .logo {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .login-input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
  }
  
  .login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  